/SerialNumberHDD/PowerTools/bin
/SerialNumberHDD/PowerTools/obj
/SerialNumberHDD/SerialNumberHDD/bin
/SerialNumberHDD/SerialNumberHDD/obj
/SerialNumberHDD/TestLicense/bin
/SerialNumberHDD/TestLicense/obj
