<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
	<add key="SpaceLen" value="64"/>
	<add key="SpaceOn" value="false"/>
	<add key="SplitChar" value="44"/>
	<add key="CSV" value="true"/>
</appSettings>
</configuration>