<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<connectionStrings>
		<add name="MainUser" connectionString="User Id=RFM_NKC_DEV; Password=RFM_NKC_DEV; Data Source =(DESCRIPTION = (ADDRESS_LIST = (ADDRESS=(PROTOCOL = TCP)(HOST = 192.168.0.11)(PORT = 1521)))(CONNECT_DATA = (SERVER = DEDICATED)(SID = dion))); Pooling=true;" providerName="Oracle.DataAccess.Client"/>
	</connectionStrings>
</configuration>